body {
    padding: 10px;
}

.title {
    color: brown;
    text-align: center;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 1px grey;
}

#main {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 1px grey;
}

.section {
    text-align:center;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px grey;
}

p {
    color: red;
}

h3 {
    color: brown;
}

button {
    border-color: #00BFFF;
}

button a {
    color: brown;
    text-decoration: none;
}

@media screen and (max-width: 480px) {
    body {
	padding: 5px;
    }

    .title {
	color: brown;
	text-align: center;
	border-radius: 20px;
	box-shadow: 2px 2px 5px 1px grey;
    }

    #main {
	padding: 15px;
	border-radius: 10px;
	box-shadow: 2px 2px 5px 1px grey;
    }

    .section {
	padding: 10px;
	margin: 20px;
	border-radius: 3px;
	box-shadow: 2px 2px 5px 1px grey;
    }

    p {
	color: red;
    }

    h3 {
	color: brown;
    }

    button {
	border-color: #00BFFF;
    }

    button a {
	color: brown;
	text-decoration: none;
    }
}
